<div class="mx-auto w-fit my-6">
  <h1>Dialog Section</h1>
  <button (click)="dialogInfo()" mat-raised-button>info</button>
  <button (click)="dialogSuccess()" mat-raised-button>success</button>
  <button (click)="dialogWarn()" mat-raised-button>warn</button>
  <button (click)="dialogError()" mat-raised-button>error</button>
</div>
<hr />
<div class="mx-auto w-fit my-6">
  <h1>Snackbar Section</h1>
  <button (click)="snackbarInfo()" mat-raised-button>info</button>
  <button (click)="snackbarSuccess()" mat-raised-button>success</button>
  <button (click)="snackbarWarn()" mat-raised-button>warn</button>
  <button (click)="snackbarError()" mat-raised-button>error</button>
</div>
